/* css de info.html */

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    background-color: #F0E9CB;
    color: #404F4F;
}


.fondo_logo {
    width: 100%;
    background-color: #acb1c0;
}



.navbar {
    background-color: #acb1c0;
    list-style: none;
    
}

.navlink {
    text-decoration: none;
    color:#519075;
    font-size: 1.15rem;
}

.navlink:hover {
    text-decoration: underline;
}

.titulo{
    top: 10rem;
    font-size: 34px;
    color: #404F4F;
    background-color: #acb1c0;
    width: 20rem;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #404F4F;
    border-radius: 15px;
}


.card-title {
    font-size: 24px;
    color: #404F4F;
}

.card-text {
    font-size: 16px;
    color: #404F4F;
}

footer {
    background-color: #5C5E64;
}

footer p {
    color: #ffffff;
}

.redes {
    padding-right: 5%;
}

.redes ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    margin: 20px auto;
    padding-right: 20px;
}

a {
    color: #519075;
    text-decoration: none;
}
