/* css de index.html*/

.body-custom {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    background-color: #F0E9CB;
    color: #374343;
}

h1{
    position: absolute;
    top: 10rem; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 34px;
    color: #519075;
    text-align: center;
    background-color: #F0E9CB;
    width: 15rem;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #404F4F;
    border-radius: 10px;
}




.navbar {
    background-color: #acb1c0;
    list-style: none;
    
}

.navlink {
    text-decoration: none;
    color:#519075;
    font-size: 1.15rem;
}

.navlink:hover {
    text-decoration: underline;
}



.boton-reserva {
    background-color: #519075;
    font-size: 1.5rem;
    padding: 0.75rem 1.8rem;
    transition: all 0.3s ease;
    margin-top: 2.5rem;
    box-shadow: 2px 2px 3px #065757;
    border-radius: 10px;
}

.boton-reserva:hover {
    font-size: 1.65rem;
    color: #acb1c0;
    background-color: #519075;
}

.parrafo {
    font-size: 1.4rem;
    padding: 1rem 4rem;
    margin: 3rem;
}

.footer {
    background-color: #acb1c0;
}

.carousel-custom {
 width: 50rem;
 box-shadow: 10px 10px 15px #404F4F;
 border-radius: 10px;
}
.carousel-custom img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

@media (max-width: 990px) {
    .banner h1 {
    top: 15.5rem;
    font-size: 30px;
    }
}
  