// _header.scss 

@use '../config/variables' as *;
@use '../config/mixin' as *;

// Estilos para la barra de navegación 
.navbar {
  background-color: $navbar-bg;
  list-style: none;

  .navlink {
    text-decoration: none;
    color: $link-color;
    font-size: 1.15rem;

    &:hover {
      text-decoration: $link-hover-text;
    }
  }
}

// Encabezado tipo h1 (usado en contacto y style) 
.tituloprinc {
  position: absolute;
  top: 10rem;
  font-size: 60px;
  color: $titulo-color;
  text-align: center;
  background-color: $background-color;
  width: 25rem;
  border-radius: 10px;
  margin-bottom: 10rem;

  @include box-shadow(5px, 5px, 10px, #404F4F);
}

// Encabezado alternativo (.titulo) (usado en info) 
.titulo {
  top: 10rem;
  font-size: 60px;
  color: $titulo-color;
  background-color: $background-color;
  width: 25rem;
  text-align: center;
  border: 1px solid $navbar-bg;
  border-radius: 15px;
  margin-bottom: 10rem;

  @include box-shadow(5px, 5px, 10px, #404F4F);
}
