// _main.scss 
@use '../config/variables' as *;
@use '../config/mixin' as *;

// Estilos para tarjetas y formularios 
.card {
  border: none;
  border-radius: 8px;

  .card-body {
    padding: 2rem;
  }
}

.card:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.section-ubicacion {
  height: 300px;
}


.form-label {
  font-weight: 600;
}

.form-control {
  border-radius: 4px;
}

// Estilos para textos dentro de tarjetas 
.card-title {
  @include text-style($text-color, 24px);
}

.card-text {
  @include text-style($text-color, 16px);
}



// Estilos para redes (usando grid) 
.redes ul {
  @include grid(3, 5%);

  margin: 20px auto;
  padding-right: 20px;
}

a {
  color: $link-color;
  text-decoration: none;
}

// Estilo para botón de reserva (de style.scss) 
.boton-reserva {
  @include button-style;

  margin-top: 2.5rem;
  box-shadow: 2px 2px 3px $button-shadow-color;

  &:hover {
    font-size: 1.65rem;
    color: $navbar-bg;
  }
}

// Estilo para párrafos (de style.scss)
.parrafo {
  font-size: 1.5rem;
}

// Estilos para el carrusel 
.carousel-custom {
  @include carousel-style;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 12px;
  }
}

.contact-section {
  position: relative;
  background-image: url('../assets/Recepcion.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}
.contact-section .overlay {
  padding: 100px 0;
}