// medias.scss

// Media query para ajustar encabezados en pantallas menores 
@media (width <= 990px) {
.banner h1 {
    top: 15.5rem;
    font-size: 40px;
}

.body-custom {
    font-size: 30px    
}

.titulo{
    font-size: 40px;
    max-width: 20rem;
}
}
